.command {
  position: absolute;
  width: 1920px;
  height: 810px;
  display: flex;
  margin-top: 7200px;
  border-bottom: 1px solid black;
  color: black;
}

.item {
  color: black;
  width: 700px;
  display: inline-flex;
  margin-left: 260px;
}

.image {
  width: 220px;
  height: 100px;
  background-color: white;
  margin-top: 0;
}

.item_block {
  display: flexbox;
  margin-top: 0;
}

.heading {
  width: 500px;
  font-size: 28px;
  margin-top: 0;
}

.paragraph {
  font-size: 18px;
}

.description {
  font-size: 28px;
  width: 350px;
}

.button {
  position: absolute;
  width: 273px;
  height: 66px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 800px;
  margin-top: 700px;
}

.button span {
  color: white;
  font-size: 24px;
}

.arrow {
  margin-left: 0;
}
