.hips {
  margin-top: 2000px;
  display: flex;
  height: 1890px;
  border-bottom: 1px solid black;
}

.us_projects {
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  position: absolute;
  margin-left: 61px;
}

.border_us_projects {
  width: 200px;
  height: 10px;
  background-color: black;
  position: absolute;
  margin-top: 125px;
}

.block_item {
  display: flex;
}

.item {
  display: inline-flex;
}

.items {
  margin-left: 100px;
  margin-top: 140px;
}

.image {
  width: 576px;
  height: 657px;
}

.heading {
}

.button {
  width: 273px;
  height: 66px;
  position: absolute;
  margin-top: 1800px;
  margin-left: 830px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
}

.button span {
  margin-left: 10px;
  margin-top: 20px;
}

.arrow {
  margin-top: 20px;
  margin-left: 30px;
}

.background_block {
  width: 1174px;
  height: 1890px;
  background-color: #f5f5f5;
  z-index: -1;
  position: absolute;
  margin-left: 780px;
}

.item_list {
}

.border_image {
}

.vertical_border_left {
  height: 1750px;
  border-left: 1px solid #e0e0e0;
  position: absolute;
  margin-left: 675px;
  margin-top: 140px;
}

.vertical_border_right {
  height: 1750px;
  border-left: 1px solid #e0e0e0;
  position: absolute;
  margin-left: 1250px;
  margin-top: 140px;
}

.horizontal_border_top {
  width: 1920px;
  border-bottom: 1px solid #bdbdbd;
  position: absolute;
  margin-top: 795px;
}

.horizontal_border_bottom {
  width: 1920px;
  border-bottom: 1px solid #bdbdbd;
  position: absolute;
  margin-top: 1450px;
  z-index: -1;
}
