.menu {
  width: 1920px;
  height: 1080px;
  display: flex;
}

.background {
  position: absolute;
  display: flex;
  z-index: -1;
}

.gradient_background {
  width: 1920px;
  height: 1080px;
  background-color: black;
  position: absolute;
  z-index: -1;
  opacity: 50%;
}



.menu_list {
  width: 100%;
  height: 97px;
  cursor: pointer;
  display: flex;
  color: #828282;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
}

.menu_list span {
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
}

.menu_list:hover {
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.menu_block {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-left: 721px;
  margin-top: 250px;
}

.phone_logo {
  width: 29px;
  height: 29px;
  position: absolute;
  margin-left: 1740px;
  margin-top: 37px;
}

.gid_logo {
  width: 184px;
  height: 76px;
  position: absolute;
  margin-left: 875px;
  margin-top: 53px;
}

.block_logos {
  display: flex;
  margin-top: 900px;
  margin-left: 760px;
  position: absolute;
}

.logos {
  width: 42px;
  height: 42px;
  margin-left: 67px;
  cursor: pointer;
}

.close_menu {
  position: absolute;
  margin-left: 95px;
  margin-top: 26px;
  cursor: pointer;
}
