.instagram {
  width: 1920px;
  height: 956px;
  border-bottom: 1px solid #bdbdbd;
}

.item {
  display: inline-table;
  margin-top: 20px;
  margin-left: 20px;
}

.block_item {
  margin-left: 60px;
  margin-top: 30px;
}

.insta {
  margin-left: 100px;
  margin-top: 92px;
}
