.belly {
  display: flex;
  width: 1920px;
  height: 805px;
  position: absolute;
  margin-top: 3400px;
}

.heading {
  width: 900px;
  font-size: 48px;
  font-weight: 300;
  margin-left: 31px;
  margin-top: 81px;
}

.border_box {
  width: 200px;
  height: 10px;
  background-color: black;
}

.nicegirl {
  position: absolute;
  margin-left: 60px;
  margin-top: 14px;
}

.block_right {
  position: absolute;
  margin-left: 1100px;
  margin-top: 223px;
}

.heading_email {
  width: 477px;
  font-size: 36px;
}

.paragraph_email {
  font-size: 24px;
  width: 425px;
  margin-top: 41px;
}

.input_email {
  width: 677px;
  height: 88px;
  margin-top: 86px;
}

.checkbox {
  display: flex;
}

.input_checkbox {
}

.heading_checkbox {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 15px;
}

.button {
  width: 677px;
  height: 100px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 36px;
  font-weight: 300;
  margin-top: 72px;
}
