.hips {
  position: absolute;
  margin-top: 5050px;
}

.image {
  margin-left: 20px;
  margin-top: 20px;
}

.image_block {
  margin-left: 50px;
}

.big_image {
  margin-left: 20px;
  margin-top: 20px;
}
