.ribs {
  width: 1920px;
  height: 849.5px;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 50px;
  display: flex;
  position: absolute;
}

.price {
  font-size: 48px;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  margin-left: 61px;
}

.ribs_border {
  width: 200px;
  border-top: 10px solid rgb(0, 0, 0);
  margin-top: 110px;
}

.ribs_block {
  width: 1573px;
  height: 719px;
}

.see_price {
  position: absolute;
  font-size: 48px;
  width: 829px;
  font-weight: 400;
  margin-top: 160px;
}

.test {
  position: absolute;
  margin-top: 350px;
  font-size: 36px;
  font-weight: 300;
  width: 824px;
}

.look_price {
  width: 510px;
  height: 112px;
  color: white;
  background-color: black;
  font-size: 36px;
  margin-top: 600px;
  position: absolute;
}

.block_right {
  position: absolute;
  margin-left: 1000px;
  width: 900px;
  height: 900px;
  display: flex;
  margin-top: 150px;
}

.block_top {
  position: absolute;
  height: 700px;
  width: 700px;
  border-left: 1px solid #e0e0e0;
}

.heading {
  margin-left: 79px;
}

.paragraph {
  margin-left: 20px;
  font-size: 36px;
}

.block_bot {
  position: absolute;
  margin-top: 700px;
  border-top: 1px solid #e0e0e0;
  margin-left: 900px;
  display: flex;
}

.paragraph_block_bot {
  font-size: 36px;
  margin-left: 25px;
  width: 527px;
}

.square_paragraph {
  display: flex;
  margin-left: 79px;
}

.square {
  height: 15px;
  margin-top: 50px;
}

.square_block_bot {
  height: 15px;
  margin-top: 50px;
  margin-left: 185px;
}

.belly {
  position: absolute;
  margin-top: 900px;
  z-index: 1;
}

.heading_services {
  position: absolute;
  display: flex;
  width: 1000px;
  font-size: 48px;
  font-weight: 300;
  margin-left: 61px;
}

.border_block {
  position: absolute;
  width: 200px;
  height: 10px;
  border-bottom: 10px solid black;
  margin-top: 100px;
}
